body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-contaner {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}

.search {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 0;

}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}

.experience-area {
    background-image: url(/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack {
    border-bottom: 7px solid;
    border-image: linear-gradient(yellow, tomato);
    border-image-slice: 1;
}

#baby {
    border-bottom: 7px solid;
    border-image: linear-gradient(rgb(47, 194, 54), rgb(167, 40, 114));
    border-image-slice: 1;
}

footer p {
    text-align: center;
}